/**
 * Triangles made of box borders
 *
 * @see https://css-tricks.com/snippets/css/css-triangle/
 */

.triangle {
  width: 0;
  height: 0;
  border: 0 solid transparent;
}

.arrow-up {
  border-left-width: 50px;
  border-right-width: 50px;

  border-bottom: 50px solid #ff3399;
}

.arrow-down {
  border-left-width: 20px;
  border-right-width: 20px;

  border-top: 20px solid #9933ff;
}

.arrow-right {
  border-top-width: 60px;
  border-bottom-width: 60px;

  border-left: 60px solid #99ff33;
}

.arrow-left {
  border-top-width: 10px;
  border-bottom-width: 10px;

  border-right: 10px solid #3399ff;
}
